/**
* @name: hnsSearch.module.less
* @author: 米洛
* @date: 2022-06-27 17:27
* @description：搜素框
*/

.controller {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding-left: @text-padding;
  min-width: @input-min-width;
  max-width: @input-max-width;
  border: @border-color-base 1.5px solid;
  border-radius: @border-radius-base;
  transition: ease-in-out 0.3s;


  input {
    transition: ease-in-out 0.3s;
    min-width: 80%;
    outline: none;
    border: none;
    padding-left: 1em;
    height: 100%;
  }
}
.icon{
  cursor:pointer;
}
.controllerActive {
  transition: ease-in-out 0.3s;
  outline: none;
  border: @primary-color 1.5px solid;
  box-shadow: @border-box-shadow;
}

.iconActive {
  path {
    transition: ease-in-out 0.3s;
    stroke: @primary-color !important;
  }
}