/**
* @name: test.module.less
* @author: 米洛
* @date: 2022-06-13 15:31
* @description：试验田的样式
*/
.container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1em;
  padding: 2em;
  align-items: center;
}

