/*列表*/
.list {
  display: grid;
  grid-template-columns: repeat(7, calc((100% - 6 * 1rem) / 7));
  gap: 1rem;

  @media screen and (max-width: 3072px) {
    grid-template-columns: repeat(6, calc((100% - 5 * 1rem) / 6));
  }

  @media screen and (max-width: 2048px) {
    grid-template-columns: repeat(5, calc((100% - 4 * 1rem) / 5));
  }

  @media screen and (max-width: 1920px) {
    grid-template-columns: repeat(4, calc((100% - 3 * 1rem) / 4));
  }

  @media screen and (max-width: 1440px) {
    grid-template-columns: repeat(3, calc((100% - 2 * 1rem) / 3));
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, calc((100% - 1rem) / 2));
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: auto;
  }
}
/* 模块 */
.item {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  min-width: 10rem;
  flex: 0 0 auto;
  transition: box-shadow ease 0.4s;

  &:hover {
    transition: box-shadow ease 0.4s;
    cursor: pointer;
    box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.2);
  }

  .img {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 5.5rem;
      border-radius: 1rem;
    }
  }

  .right {
    flex: 1;
    width: 0;
    display: grid;
    gap: @padding-xs;
    flex: 1;
    width: 0;

    p {
      margin: 0;
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: @padding-xs;

    .title {
      font-size: 0.9rem;
      font-weight: 700;
    }

    .hot {
      font-size: 1.3rem;
      color: #ff8c21;
      path {
        fill: #ffc14f;
      }
    }
  }

  .en {
    margin-top: @padding-xs;
    font-size: 13px;
    font-weight: 400;
    color: @text-color-secondary;
  }

  .desc {
    font-size: 13px;
    color: @text-color-secondary;
    line-height: 22px;
    margin: 1rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .area_name {
    font-size: 13px;
    color: darken(@fourth-color, 12%);
    line-height: 22px;
    margin: 1rem 0;
  }
  @media screen {
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    .bItem {
      font-size: 14px;
      display: flex;
      gap: @padding-xs;
    }
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: @padding-xs;
  margin-top: 2rem;
  color: fade(@text-color, 90%);
  font-size: 14px;
  p {
    margin: 0;
  }

  path {
    fill: white;
  }
}
