/**
* @name: baseUI.less
* @author: 米洛
* @date: 2022-06-14 00:03
* @description：HNS UI 组件库通用样式
*/

@primary-color: #1f1f1f; // 全局主色
@secondary-color: #ededed;
@third-color: #7ed312;
@fourth-color: #2b4ae4;
@fifth-color: #f5274d;
@link-color: #1890ff; // 链接色
@success-color: #52c41a; // 成功色
@warning-color: #faad14; // 警告色
@error-color: #f34548; // 错误色
@font-size-base: 1rem; // 主字号
@font-size-secondary: 0.875rem; // 次级字号
@heading-color: rgba(0, 0, 0, 0.85); // 标题色
@text-color: #213547; // 主文本色
@text-color-secondary: fade(@text-color, 50%); // 次文本色
@disabled-color: #d8d8d8; // 失效色
@border-radius-base: 0.4rem; // 组件/浮层圆角
@border-color-base: rgba(75, 75, 75, 0.29); // 边框色
@box-shadow-base: 0 0.3rem 0.6rem -0.4rem rgba(0, 0, 0, 0.12),
  0 0.6rem 1.6rem 0 rgba(0, 0, 0, 0.08),
  0 0.9rem 2.8rem 0.8rem rgba(0, 0, 0, 0.05); // 浮层阴影
@padding-xs: 8px;
@text-padding: 0.5rem; //边框内部文字间距
@label-margin: 0.4rem; // 输入框标签外边距
@input-min-width: 20rem; // 输入框最小宽度
@input-max-width: 30rem; // 输入框最大宽度
@animation-bezier-base: cubic-bezier(0.64, 0, 0.2, 1); // 贝塞尔曲线
@border-box-shadow: 0 0 0.3rem 0 lighten(@primary-color, 15%); // 输入框聚焦边缘高亮
@border-box-error-shadow: 0 0 0.3rem 0 lighten(@error-color, 15%); // 输入框错误边缘高亮
@border-box-success-shadow: 0 0 0.3rem 0 lighten(@success-color, 15%); // 输入框正确边缘高亮
@border-diffuse-Anime: borderDiffuseAnime;
@flexible-Anime: flexible-Anime;
@transform-Anime: transForm;
@font-text: "noto Sans SC", sans-serif;

body {
  margin: 0;
  color: #1c1e21;
  font-size: 16px;
  // min-width: 68.75rem !important;
  font-family: @font-text;
  font-style: normal;
  font-weight: 400;
  background: lighten(@border-color-base, 50%);
}
// 顶部进度条
#nprogress {
  .bar {
    background: @third-color !important; //自定义颜色
  }
  .peg {
    box-shadow: 0 0 10px @third-color, 0 0 5px @third-color !important;
  }
  .spinner-icon {
    border-top-color: @third-color !important;
    border-left-color: @third-color !important;
  }
}

// 点击后阴影扩散的动画
@keyframes borderDiffuseAnime {
  0% {
    box-shadow: 0 0 0 0 lighten(@primary-color, 30%);
  }
  100% {
    box-shadow: 0 0 0 6px fade(lighten(@primary-color, 100%), 0);
  }
}

// 弹性动画
@keyframes flexible-Anime {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

// 位移动画
@keyframes transForm {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
