/**
* @name: miLuoExample.module.less
* @author: 米洛
* @date: 2022-07-10 17:05
* @description：该文件的描述
*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  ul {
    display: flex;
    flex-direction: column;
    width: 45rem;
    gap: 0.5rem;
    background: white;
    border-radius: @border-radius-base;
    padding: 3rem;
  }

  li {
    box-sizing: border-box;
    list-style: none;
    cursor: pointer;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    border: fade(@text-color, 5%) 1px solid;
    border-radius: @border-radius-base;
  }

  .delete {
    background: @error-color;
    border: none;
    border-radius: @border-radius-base;
    transition: all ease 0.3s;

    &:hover {
      cursor: pointer;
      background: fade(@error-color, 80%);
      transition: all ease 0.3s;
    }
  }

  .toolBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  input {
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: @border-radius-base;
    border: fade(@text-color, 50%) 1px solid;

    &:focus {
      outline: @primary-color 1.5px solid;
      border: transparent 1.5px solid;
    }
  }
}
