/**
* @name: miLuoExample.module.less
* @author: 米洛
* @date: 2022-07-10 17:05
* @description：该文件的描述
*/

.title {
  color: red;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.button1 {
  background: red;
  cursor: pointer;
  border: none;
}

.button2 {
  background: blue;
}

.item {
  width: 200px;
  height: 100px;
  cursor: pointer;
}

.itemActive {
  animation: changeColor ease 0.3s;
  background: red;
  color: white;
}

@keyframes changeColor {
  0% {
    background: transparent;
    color: black;
  }
  100% {
    background: red;
    color: white;
  }
}