/**
* @name: hnsNavigate.module.less
* @author: 米洛
* @date: 2022-07-17 20:42
* @description：导航栏
*/
:root {
  --max-height: 0;
}

.base {
  box-sizing: border-box;
}

.topMode {
  display: grid;
  width: 100vw;
  gap: 0.5rem;
  height: 5.25rem;
  padding: 1rem;
  grid-template-columns: minmax(10rem, 1fr) minmax(20rem, 1fr) minmax(10em, 4fr) minmax(15rem, 3fr);
  background: white;
  //position: absolute;
  top: 0;
  left: 0;
  align-items: center;
}

.toolBar {
  justify-self: flex-end;
  align-items: center;
}

.avatar {
  cursor: pointer;
}

.topList {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  height: 100%;
  padding-left: 0;

  .topBar {
    font-weight: bold;
    color: @heading-color;
    cursor: pointer;
    display: flex;
    list-style: none;
    height: 100%;
    width: 4rem;
    justify-content: center;
    align-items: center;
    line-height: 100%;
  }

  li:hover {
    color: @text-color;
  }
}

.sideMode {
  min-height: 100vh;
  width: 15vw;
  min-width: 12rem;
  float: left;
  background: white;
  margin-right: 1.5rem;
}

// 侧边栏模式，紧跟其后的第一个DOM元素会出现在侧边栏的右边，其余元素恢复正常排列数序
// "+" 代表 .sideMode 后的 第一个兄弟元素（这个元素一般为该页面的右侧主体部分），* 代表任意标签，
// 即 .sideMode 的第一个兄弟元素后面的所有元素均清除浮动
.sideMode + * ~ * {
  clear: left;
}

.sideBarHead {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin-bottom: 1rem;
}

// 激活li样式
.liActive {
  animation: fadeEffect ease 0.3s;
  transition: ease-in-out 0.3s;
  background: lighten(@primary-color, 10%);
  color: white !important;
}

// 最外层 ul, 内部li
.ulMenuBase {
  list-style: none;
  padding: 0 2vw;


  li {
    padding: 0.5rem 0.5rem;
  }
}

// 一级菜单
.singleMenu {
  list-style: none;
  cursor: pointer;
  color: @text-color;
  border-radius: @border-radius-base;
}

// 二级菜单的最外层li
.firstLi {
  //margin-bottom: 2vh;
}

// 二级菜单分类标题(span)
.category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
  cursor: pointer;
}

// 二级菜单 ul
.secondMenu {
  list-style: none;
  padding-left: 0;
  height: 0;
  overflow: hidden;
}

// 二级子菜单 li
.secondMenuChild {
  box-sizing: border-box;
  text-align: center;
  padding: 2vh 0;
  border-radius: @border-radius-base;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

// 二级菜单图标
.icon {
  margin-right: 0.5rem;
}


// 打开二级菜单
.openSecondMenu {
  transition: 0.3s @animation-bezier-base;
  height: auto;
}


.iconDown {
  transform: rotate(0deg);
}

.iconDownOpen {
  animation: iconDownOpenAnime @animation-bezier-base 0.3s;
  transform: rotate(180deg);

  path {
    stroke: @primary-color !important;
  }
}

@keyframes iconDownOpenAnime {
  0% {

  }
  100% {
    transform: rotate(180deg);

    path {
      stroke: @primary-color !important;
    }
  }
}


@keyframes iconDownCloseAnime {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);

    path {
      stroke: @primary-color !important;
    }
  }
}



@keyframes fadeEffect {
  0% {
    background: transparent;
  }
  100% {
    background: lighten(@primary-color, 10%);
  }
}